{% extends "base_generic.html" %}

{% block content %}
  <h1>تبریک!-فاکتور خرید شما:</h1>
  <p>شما محصول موردنظر خود را با موفقیت خریداری کردید</p>
  <p>به امید دیدار شما در خریدهای بعدی</p>
  <p><strong>برند:</strong>{{ mob.brand }}</p>
  <p><strong>نام:</strong> {{ mob.name }}</p>
  <p><strong>توضیحات:</strong> {{ mob.review }}</p>
  <p><strong>سیستم عامل:</strong> {{ mob.operating_system }}</p>
  <p><strong>تکنولوژی صفحه نمایش:</strong> {{ mob.screen_technology }}</p>
  <p><strong>اندازه صفحه نمایش:</strong> {{ mob.screen_size }}</p>
  <p><strong>قیمت:</strong> {{ mob.price }} <td>تومان</td></p>
  <p><strong>تعداد خریداری شده:</strong>{{ sold.amount }}</p>
  <p><strong>نام کاربری خریدار:</strong>{{ user }}</p>
  <p><strong>نام و نام خانوادگی خریدار:</strong>{{ fname }} {{ lname }} </p>
  <p><strong>ایمیل خریدار:</strong>{{ email }}</p>
  <p><strong>آدرس:</strong>{{ sold.address }}</p>
  <p><strong>کدپستی:</strong>{{ sold.zip_code }}</p>
  <p><strong>تلفن همراه:</strong>{{ sold.phone }}</p>
  <p><strong>تاریخ خرید:</strong>{{ time }}</p>
  <a href="{% url 'request' %}" class="btn btn-primary">پرداخت</a>
  <h1>موفق و پیروز باشید</h1>

{% endblock %}
